#num1{
    margin:10px; 
}
#num2{
    margin:10px; 
}
#resultado{
    margin:10px; 
}
#sumando{
    margin:10px;
}
#restando{
    margin:10px;
}
#multiplicando{
    margin:10px;
}
#dividiendo{
    margin:10px;
}