#num1{
    margin-right: 10px;
    margin-left: 10px;
}
#num2{
    margin-right: 10px;
    margin-left: 10px;
}

.input-group-prepend{
    margin-top: 15px;
    margin-left: 40px;
}
#resultado{
    margin-top: 15px;
    margin-right: 10px;
}
button.btn.btn-primary{
    margin-left: 25px;
}
